/* 页面标题栏 */
.titleBar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    padding: 30px;
    font-size: 1.5em;
    background-color: rgba(128, 128, 128, 0.196);
    backdrop-filter: blur(10px);
}

/* 可视化演示主体页面 */
.playground{
    width: 100vw;
    height: 100vh;
}